*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4c75af;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 10px;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 900px;
}

.container h1 {
    margin-bottom: 20px;
}

.pdf-viewer {
    width: 100%;
    height: 600px;
    border: none;
}
.sdg{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    padding: 25px;
}


.business-case {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.business-case h2 {
    color: #4c75af;
}

.business-case ul {
    margin: 10px 0 0;
    padding-left: 20px;
}

.business-case ul li {
    margin-bottom: 8px;
}

.description{
    font-size: 12px;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
